@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

:root{
  --font-primary: "Readex Pro", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.img-logo{
  position: relative;
  top: 2.1rem;
  left: 8%;
  margin-bottom: 4.5rem;
}

.img-bg{
  width: 100%;
  height: 1200px;
  object-fit: cover;
}

.banner{
  position: absolute;
  top: 15rem;
  display: flex;
  flex-direction: row;
}

.banner-text{
  width: 50%;
  margin-left: 22px;
  margin-right: 22px;
}
.banner-text h1{
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  line-height: 56px;
  text-decoration: none;
  margin: 0 0 1.4rem;
}

.banner-text h3{
  font-family: var(--font-primary);
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
  line-height: 39px;
  text-decoration: none;
  margin: 0 0 1.4rem;
}

/*FORMULÁRIO*/

form{
  overflow: hidden;
  height: 100%;
}

.preencher-formulario h2{
  font-family: var(--font-primary);
  color: #9d2cd4;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 28px;
}

.formulario-wrapper{
  width: 50%;
  overflow: hidden;
}
.formulario{
  width: 23rem;
  height: 100%;
  border: 1px none #FFFFFF;
  padding: 45px;
  background-color: rgba(255, 255, 255, 1.0);
  font-family: var(--font-primary);
  color: #071110;
  font-weight: 400;
  min-width: fit-content;
  margin-right: 28px;
}

.campo-formulario{
  margin-bottom: 22px;
  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

label{
  padding: 6px 0px;
  font-family: var(--font-primary);
  font-weight: 400;
  text-decoration: none;
  color: #071110;
  font-size: 16px;
}

.campo-obrigatorio{
  color: red;
}

.campo-formulario input{
  display: block;
  border-radius: 3%;
  width: 100%;
  height: 2.3rem;
  background-color: #f0f0f0;
  background-image: none;
  border-radius: 8px;
  border: none;
  margin-bottom: 18px;
  margin-top: 12px;
}

select{
  display: block;
  border-radius: 3%;
  width: 100%;
  height: 2.2rem;
  background-color: #f0f0f0;
  background-image: none;
  border-radius: 8px;
  border: none;
  margin-top: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #071110;
  font-size: 16px;
  font-family: var(--font-primary);
}

.checkbox{
  display: inline;
  padding-top: 30px;
}

.button-formulario{
  border: 1px solid #9d2cd4;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  background-color: rgba(157, 44, 212, 1.0);
  color: #ffffff;
  text-transform: none;
  width: 100%;
  height: 2.9rem;
  margin-top: 22px;
}

.button-formulario:hover{
  opacity: 0.8;
  cursor: pointer;
}

.sessao-formulario{
  padding: 8rem;
  align-items: center;
  background-color: rgba(155, 204, 209, 1);
}

.sessao-formulario h1{
  text-align: center;
  font-family: var(--font-primary);
  font-size: 40px;
  line-height: 56px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 22px;
}


/* BENEFICIOS */

.descricao-beneficios{
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.header-beneficios{
  margin-bottom: 22px;
}

.header-beneficios h1{
  font-family: var(--font-primary);
  color: #071110;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 22px;
}

.header-beneficios p{
  font-family: var(--font-primary);
  color: #071110;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.livar-destaque{
  color: #9d2cd5;
  font-weight: 700;
}

.cards{
  display: flex;
  justify-content: space-around;
  margin: 22px;
  text-align: center;
}

.cards i{
  font-size: 4rem;
  color: #9d2cd5;
  margin: 22px;
}

.card-beneficios{
  font-family: var(--font-primary);
  margin-left: 22px;
  line-height: 22px;
  width: 300px;
}
.card-beneficios h3{
  font-size: 28px;
  line-height: 39px;
  font-weight: 400;
  margin-bottom: 22px;
}

/*EMPRESAS PARCEIRAS*/

.empresas-parceiras{
  background-color:rgba(229, 148, 118, 1);
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 8rem;
  padding-bottom: 6.4rem;
}

.empresas-parceiras h2{
  font-family: var(--font-primary);
  font-size: 32px;
  line-height: 45px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin-bottom: 22px;
}

.img-empresas{
  display: flex;
  flex-wrap: wrap;
}
.img-empresas img{
  width: 25%;
  margin-top: 22px; 
}

/*Casa Verde*/

.casa-verde-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8rem 4rem;
  max-width: 90%;

}

.descricao-casa-verde{
  font-family: var(--font-primary);
  font-weight: 400;
  width: 50%;
  height: 50%;
  margin-left: 22px;
}

.img-casa-verde{
  width: 50%;
  height: 50%;
  margin-right: 22px;
}

.descricao-casa-verde h2{
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
  margin-left: 22px;
}

.descricao-casa-verde p{
  font-size: 16px;
  line-height: 22px;  
  margin-left: 22px;
  margin-bottom: 22px;
}

/*DEPOIMENTOS*/

.section-depoimentos{
  padding: 8rem 6rem;
  background-color:rgba(245, 248, 250, 1);
}

.card-depoimentos{
  display: flex;
  justify-content: space-around;
  padding: 22px;
  width: 100%;
  
}

.depoimentos{
  background-color: #ffffff;
  margin: 22px;
  padding: 22px;
  width: 100%;
  height: 100%;
}


.depoimentos img{
  min-width: 58px;
  border-radius: 50%;
}

.depoimentos p{
  font-family: var(--font-primary);
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #071110;

}

.avatar-depoimentos{
  display: flex;
  align-items: center;  
  margin-top: 22px;
  
}

.avatar-depoimentos p{
  margin-left: 20px;
}


.segundo-formulario{
  border: 1px none #FFFFFF;
  padding: 45px;
  background-color: rgba(255, 255, 255, 1.0);
  border-radius: 0px;
  font-family: var(--font-primary);
  color: #071110;
  font-weight: 400;
  margin: auto;
  width: 30rem;
  height: 100%;
  min-width: fit-content;
}

/*FOOTER*/

.midias-sociais{
  display: flex;
  width: 10rem;
  height: 5rem;
  margin-left: 5rem;
  margin-bottom: -3.5rem;
}

.img-footer{
  margin: 3rem 5rem 6rem 5rem;
}

.midias-sociais i{
  text-align: center;
  width: 2.7rem;
  height: 2.7rem;
  background-color: #9d2cd5;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.midias-sociais i:hover{
  background-color: #63118b;
  
}

.copyright{
  font-family: var(--font-primary);
  text-align: end;
  margin-bottom: 2rem;
  margin-right: 5rem;
  padding-bottom: 2rem;
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #071110;
}

@media (max-width: 1000px){
  
  .img-bg{
    height: 1400px;
  }

  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .banner-text{
    width: 70%;
    text-align: center;
  }

  .formulario{
    width: auto;
    height: 100%;
    min-width: fit-content;
  }

  .formulario-wrapper{
    width: 80%;
    margin-left: 22px;
  }

  .card-depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .segundo-formulario{
    width: 25rem;
    height: 100%;
    min-width: fit-content;
  }
  
}

@media (max-width:740px){
  .img-bg{
    height: 1500px;
  }
  .formulario-wrapper{
    width: 80%;
    margin-left: 22px;
  }
  .formulario form{
    width: 100%;
  }
  .descricao-beneficios{
    margin:4rem 0px;
  }
  .header-beneficios{
    margin: 0px 22px;
  }
  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-beneficios{
    margin-bottom: 40px;
    width: 80%;
  }

  .casa-verde-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .img-casa-verde{
    width: 80%;
    margin-bottom: 40px;
    margin-right: 0px;
  }
  .descricao-casa-verde{
    width: 80%;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .card-depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 22px;
    width: auto;
  }
  .section-depoimentos{
    padding: 8rem 0rem;
  }
  .sessao-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}

@media (max-width:550px){
  .img-bg{
    height: 1550px;
  }

  .formulario-wrapper{
    width: 95%;
  }
  .empresas-parceiras{
    padding-top: 50px;
  }
  .img-empresas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .img-empresas img{
    width: 160px;
  }

  .segundo-formulario{
    width: 22rem;
  }

  .copyright{
    position: relative;
    margin-bottom: 1rem;
  }
  .midias-sociais{
    margin-left: 1rem;
  }
  .img-footer{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 1rem;
  }
  .sessao-formulario{
    padding: 4rem;
    background-color: #ffffff;
  }
  .sessao-formulario section{
    width: 100%;
  }

  .sessao-formulario h1{
    font-size: 36px;
    color: #071110;
    margin-bottom: 0px;
  }

  .casa-verde-wrapper{
    margin: 8rem 1rem;
    max-width: 100%;
    text-align: center;
  }

  .sessao-formulario{
    padding: 2rem 1rem;
  }
  .sessao-formulario h1{
    font-size: 40px;
    color: rgba(155, 204, 209, 1);
  }
  .segundo-formulario{
    width: auto;
    height: 100%;
    min-width: fit-content;
  }

  .linha-footer{
    background-color: #9d2cd4;
    width: 100%;
    height: 1px;
    border: 1px solid #9d2cd4;
  }

  .footer{
    display: grid;
  }
  .copyright{
    margin-right: 1rem;
  }
}

@media (max-width:360px) {
  .img-bg{
    height: 1650px;
  }

  .casa-verde-wrapper{
    margin: 8rem 1rem;
    max-width: 100%;
    text-align: center;
  }
  .sessao-formulario{
    padding: 2rem 1rem;
  }
  .sessao-formulario h1{
    font-size: 40px;
    color: rgba(155, 204, 209, 1);
  }
  .segundo-formulario{
    width: auto;
    height: 100%;
    min-width: fit-content;
  }
  .linha-footer{
    background-color: #9d2cd4;
    width: 100%;
    height: 1px;
    border: 1px solid #9d2cd4;
  }
  .preencher-formulario{
    font-size: 36px;
  }
}




